body {
	min-width: 1200px;
	max-width: 1920px;
}


/* CSS-правила для Header */
.header {
	background-image: url('../images/banner-bg.jpg');
}

.header-container {
	width: auto;
}

.header-text {
	font-size: 45px;

	width: 60%;
}

.header-text-container {
	padding-top: 125px;
	padding-bottom: 145px;
}

.menu-container {
	display: flex;
  justify-content: space-between;
  
  box-sizing: border-box;
  width: 100%;
  
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  
  margin-right: auto;
  margin-left: auto;
}

.header-logo-container {
	padding-top: 0;
}

.menu {
	display: flex;
}

/* CSS-правила для тела сайта */
.site-body-container {
	display: flex;
  
  box-sizing: border-box;
  width: 1200px;
}


/* CSS-правила для main - основной (левой части тела сайта)*/
.main {
  background-color: ;
  
  box-sizing: border-box;
  width: 65%;
  margin-right: 120px;
}

.article {
	display: flex;

	margin-top: 60px;
	border: 0;
}

.article-caption-text {
	font-size: 20px;
}

.article-date-and-author {
	margin-top: 30px;
}

.article-text {
	font-size: 15px;

	margin-top: 50px;
}

.article-img {
	max-width: 380px;
	min-height: 300px;

	padding-right: 30px;
}


/* CSS-правила для section - неосновной части (правой части тела сайта)*/
.section {
	width: 22.5%;
}

.section-container {
	margin-top: 60px;
}

.section-container:first-Child {
	margin-top: 0;
}

