body {
	max-width: 1200px;
}

/* CSS-правила для Popup*/
.popup-container {
	width: 50%;
}

/* CSS-правила для Header */
.header {
	background-image: url('../images/banner-bg-tablet.jpg');
}

.header-container {
	padding: 0 35px;

	width: auto;
}

.burger-container {
	position: relative;
	padding: 40px;
}

.menu-container {
	display: flex;
	justify-content: space-between;

	padding-top: 40px;
}

.header-logo-container {
	position: absolute;
	padding-top: 0;

	margin-top: -20px;
	left: 35px;
	top: 40px;
}

.menu {
	
}

.header-text-container {
	padding-top: 100px;
	padding-bottom: 120px;
}

.header-text {
	width: 85%;
	font-size: 40px;
}


/* CSS-правила для тела сайта */
.site-main-body-container {
  display: flex;

  margin-top: 50px;
}


/* CSS-правила для aside - Сейчас в тренде */

.articles-caption {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.trendy-article {
	width: 49%;
}

.trendy-article:nth-Child(odd) {
	margin-right: 1%;
}

.trendy-article:nth-Child(n+3) {
	margin-top: 1%;
}

/* CSS-правила для main - основной (левой части тела сайта)*/
.main {
  background-color: ;
  
  box-sizing: border-box;
  width: 60%;
  margin-right: 5%;
}

.article {
	margin-top: 40px;
}

.article-caption-text {
	font-size: 17px;
}

.article-date-and-author {
	margin-top: 40px;
}

.article-text {
	font-size: 15px;

	margin-top: 35px;
}


/* CSS-правила для section - неосновной части (правой части тела сайта)*/
.section {
	width: 35%;
}

.section-container {
	margin-top: 60px;
}

.section-container:first-Child {
	margin-top: 0;
}

/* CSS-правила для нижней части ("Наши изделия") тела сайта*/
.aside {
	margin-top: 50px;
}

.our-products-content-container {
	display: flex;
	flex-wrap: wrap;
/*
	justify-content: space-between;
	align-items: baseline;
	*/
	margin-top: 40px;
}

.our-product-article {
	margin-top: 0;

	width: 49%;

	margin-right: 1%;
}

.our-product-article:first-Child {
	margin-top: 0;
}

.our-product-article:last-Child {
	margin-right: 0;
}